<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="" method="post">

                     <select name = "d1">
                         <option value="A">A</option>
                         <option value="BB">B</option>
                         <option value="C">C</option>
                         <option value="D">D</option>
                      </select>
        <input type="submit" value="提交">
    </form>
</body>
</html>